
$color-primary: #205295;
$color-primary-light: #2C74B3;
$color-primary-dark: #144272;

$color-secondary: #8F384D;

$color-cream: #EAE3D2;
$color-cream-light: #F9F5EB;

$color-black-light: #181818;
$color-grey-dark: #303030;
$color-grey-medium: #8f8f8f;
$color-grey-medium-light: #bebebe;
$color-grey-light: #eee;

$color-white: #fff;

// FONT
$font-serif: 'Bitter', serif;
$font-mono: 'Fira Mono', monospace;
$font-sans: 'Inter', sans-serif;

$default-font-size: 1.6rem;
$h1-size: 3.5rem;
$h2-size: 3rem;
$h3-size: 2.5rem;
