
$color-primary: #2D4263;
$color-primary-light: #405c89;
$color-primary-dark: #1e2c42;

$color-secondary: #C84B31;

$color-cream: #ECDBBA;
$color-cream-light: #f7f2e8;

$color-black-light: #191919;
$color-grey-dark: #2B2B2B;
$color-grey-medium: #423F3E;
$color-grey-medium-light: #767d89;
$color-grey-light: #F2F2F2;

// FONT
$font-serif: 'Bitter', serif;
$font-mono: 'Fira Mono', monospace;
$font-sans: 'Inter', sans-serif;

$default-font-size: 1.6rem;
$h1-size: 3.5rem;
$h2-size: 3rem;
$h3-size: 2.5rem;
