@use "../abstracts/variables" as v;

.main {
  width: 100%;
  display: flex;
  margin-top: 6rem;
  position: relative;

  &__outline {
    width: 20%;
    padding: 3rem 6rem;
    position: fixed;
  }

  &__content {
    flex: 1;
    padding: 3rem;
    margin-left: 20%;
  }
}
