@use "../abstracts/variables"as v;

.header {
  width: 100%;
  padding: 0 2.5rem;
  line-height: 1;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 20;
  top: 0;
  align-items: center;
  background-color: v.$color-grey-dark;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  // box-shadow: 0 0.1rem 0.5rem v.$color-grey-medium;
  box-shadow: rgba(v.$color-grey-medium, 0.15) 0px 48px 100px 0px;
  box-shadow: rgba(v.$color-grey-medium, 0.1) 0px 10px 50px;
  color: v.$color-cream-light;

  &__container {
    width: 100%;
    padding: 1rem 0;
    max-width: 140rem;
    display: flex;
    // border-bottom: 1px solid v.$color-grey-medium;
  }

  &__title {
    font-family: v.$font-serif;
    font-weight: 400;
    font-size: v.$h1-size;
  }

  &__nav {
    margin-left: auto;
  }
}
