@use "../abstracts/variables" as v;

.outline {
  text-align: right;

  &__link {
    &:link,
    &:visited {
      display: block;
      text-decoration: none;
      font-size: v.$default-font-size;
      color: v.$color-grey-medium;
      line-height: 1.8;
    }

    &:hover {
      color: v.$color-grey-dark;
    }

  }
}
