@use "../abstracts/variables" as v;

body {
  font-family: v.$font-sans;
  font-weight: 400;
  line-height: 1.7;
  color: v.$color-grey-dark;
  box-sizing: border-box;
}

.heading-2 {
  font-size: v.$h2-size;
  color: v.$color-primary-dark;
}

.heading-3 {
  font-size: v.$h3-size;
  color: v.$color-primary-light;
}

p {
  font-size: v.$default-font-size;
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
